@import url('https://fonts.googleapis.com/css?family=Avenir&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');


	



html{
    width: 100vw;
    height: 100vw;
}

/* text */
body{
    background-size: cover;
    position:relative;
    padding-left:1rem;
    overflow: hidden;
    border-left:3rem solid black;
	min-height:100vh;
	font-family: Avenir;
	z-index: 10;
}

h3{
    font-style: normal;
	color: red; 
	font-size: 2em;   
	
}

h1{
	color: #ffffff;
	transform: translate(-247.5px, 90px) rotate(270deg);
	font-size: 2.3em;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1 > span{
	color: red;
}

p > span{
	color: red;
	white-space: pre-line;
}




/* navbar */
nav ul{
	display: flex;
	justify-content: space-around;
	position: fixed;
	bottom: 0;
	z-index: 20;	 
}

nav li{
	list-style: none;
	background-color: red;
	width: 4.8em;
	height: 4.8em;
	border-radius: 25%;
	text-align: center;
	border: solid black;
    border-width: 0.2em;
	margin: 5px;
    position: relative;
    display:flex;
    align-items:center;
    justify-content: center;
    transition:all .25s;
}
nav li.activepage,
nav li:hover {
	background-color: black;
}

nav li a{
	text-decoration: none;
    display:block;
    text-align:center;
    color:#000;
}

nav li.activepage a,
nav li:hover a{
    color:#fff;
}

/* fotos */

/* home */
img.links{
	float: left;
	width: 8em;
	height: auto;
	margin: 1em 0.8em 0.7em 0em;
}
img.middelste{
	float: center;
	width: 8em;
	height: auto;
	margin: 1em 0.5em 0.7em 0.5em;

}
img.rechts{
	float: right;
	width: 8em;
	height: auto;
	margin: 1em 1em 0.7em 0.5em;

}

/* traffic rules */
img.fietspadbord{
	float: center;
	width: 5em;
	height: auto;
}

#buttons ul{
	justify-content: space-around;
	position: fixed;
	transform: translate(-16px, 20px);
	z-index: 20;	 
}

#buttons li{
	list-style: none;
	background-color: white;
	width: 15.89em;
	height: 10em;
	border-radius: 0;
	text-align: center;
	border-top: solid black;
	border-bottom: solid black;
    border-width: 0.001em;
	margin: 0px;
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
	transition:all .25s;
	font-size: 1.8em;
}

#buttons li:hover {
	background-color: #0583F2;
}

#buttons li a{
	text-decoration: none;
    display:block;
    text-align:center;
    color:#000;
}

#buttons li:hover a{
    color:#fff;
}